@{
    ViewBag.Title = "Hospital Management System";
}

<div class="jumbotron">
    <h1>Hospital Management System</h1>
    <p class="lead">Our hospital management system is a comprehensive solution for managing all aspects of a hospital's operations.</p>
    <p><a href="/login/login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div> <div class="row">
    <div class="col-md-4">
        <h2>Appointment Scheduling</h2>
        <p> Our system allows patients to easily schedule appointments with doctors and other healthcare professionals online, reducing wait times and improving patient satisfaction. </p>
    </div> <div class="col-md-4">
        <h2>Medical Records Management</h2>
        <p>Our system provides a secure and efficient way to manage patient medical records, ensuring accuracy and confidentiality.</p>
    </div> <div class="col-md-4">
        <h2>Inventory Management</h2>
        <p>We offer an inventory management module that helps hospitals keep track of medical supplies and equipment, reducing waste and ensuring availability when needed.</p>
    </div>
</div>

<link href="@Url.Content("/Content/Style.css")" rel="stylesheet" type="text/css" />

